Repository guillaumedsde/alpine-qbittorrent-openvpn: changes, and which GitLab CI jobs are due for each by the changed paths.
All: linux/amd64, linux/386, linux/arm64, linux/arm/v7, linux/arm/v6, linux/ppc64le, dockerhub-readme, pages

.gitlab-ci.yml:

stages:
  - build
  - deploy

.build-container:
  image: docker:latest
  stage: build
  services:
    - name: "docker:dind"
      command: ["--experimental"]
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_BUILDKIT: 1
    DOCKER_CLI_EXPERIMENTAL: enabled
    BUILDX_URL: https://github.com/docker/buildx/releases/latest/download/buildx-v0.4.1.linux-amd64
    BUILDX_BUILDER: builder
  before_script:
    - /bin/sh build/prepare_builder.sh
  script:
    - /bin/sh build/build.sh
  only:
    refs:
      - master
    changes:
      - Dockerfile
      - rootfs/**/*
      - .gitlab-ci.yml
      - build/**/*
  tags:
    - docker

linux/amd64:
  extends: .build-container

linux/386:
  extends: .build-container

linux/arm64:
  extends: .build-container

linux/arm/v7:
  extends: .build-container

linux/arm/v6:
  extends: .build-container

linux/ppc64le:
  extends: .build-container

# the 'pages' job will deploy and build your site to the 'public' path
dockerhub-readme:
  stage: deploy
  variables:
    README_PATH: ./README.md
  image:
    name: sheogorath/readme-to-dockerhub:latest
    entrypoint: [""]
  script:
    - node /app/index.js
  only:
    refs:
      - master
    changes:
      - README.md
      - .gitlab-ci.yml

# the 'pages' job will deploy and build your site to the 'public' path
pages:
  stage: deploy
  # requiring the environment of NodeJS 10
  image: node:10
  # add 'node_modules' to cache for speeding up builds
  cache:
    paths:
      - node_modules/ # Node modules and dependencies
  before_script:
    - npm install gitbook-cli -g # install gitbook
    - gitbook fetch 3.2.3 # fetch final stable version
    - gitbook install # add any requested plugins in book.json
  script:
    - gitbook build . public # build to public path
  artifacts:
    paths:
      - public
    expire_in: 1 week
  only:
    refs:
      - master
    changes:
      - README.md
      - .gitlab-ci.yml

ci: change CI_JOB_STAGE to CI_JOB_NAME
  build/build.sh
  build/prepare_builder.sh
Due: linux/amd64, linux/386, linux/arm64, linux/arm/v7, linux/arm/v6, linux/ppc64le

fix: make qbittorrent compile destination absolute
  Dockerfile
Due: linux/amd64, linux/386, linux/arm64, linux/arm/v7, linux/arm/v6, linux/ppc64le

feat: use BUILDKIT experimental features
  Dockerfile
  build/prepare_builder.sh
Due: linux/amd64, linux/386, linux/arm64, linux/arm/v7, linux/arm/v6, linux/ppc64le

fix: use alpine 3.11
  Dockerfile
Due: linux/amd64, linux/386, linux/arm64, linux/arm/v7, linux/arm/v6, linux/ppc64le

Add Codacy badge
  README.md
Due: dockerhub-readme, pages

ci: added codacy config
  .codacy.yml
  LICENSE.md
Due: none

docs: aded codacy grade
  README.md
Due: dockerhub-readme, pages

fix: revert back to old compile method
  Dockerfile
Due: linux/amd64, linux/386, linux/arm64, linux/arm/v7, linux/arm/v6, linux/ppc64le

fix: use experimental dockerfile syntax
  Dockerfile
Due: linux/amd64, linux/386, linux/arm64, linux/arm/v7, linux/arm/v6, linux/ppc64le

fix: dockerfile syntax error
  Dockerfile
Due: linux/amd64, linux/386, linux/arm64, linux/arm/v7, linux/arm/v6, linux/ppc64le

feat: use statically compiled binary on amd64 platform
  Dockerfile
Due: linux/amd64, linux/386, linux/arm64, linux/arm/v7, linux/arm/v6, linux/ppc64le

fix: try to build on debian
  Dockerfile
Due: linux/amd64, linux/386, linux/arm64, linux/arm/v7, linux/arm/v6, linux/ppc64le

ci: use password-stdin for docker login
  build/prepare_builder.sh
Due: linux/amd64, linux/386, linux/arm64, linux/arm/v7, linux/arm/v6, linux/ppc64le

ci: specify docker registry url
  build/prepare_builder.sh
Due: linux/amd64, linux/386, linux/arm64, linux/arm/v7, linux/arm/v6, linux/ppc64le

ci: fixed syntax for setting docker parameters
  build/prepare_builder.sh
Due: linux/amd64, linux/386, linux/arm64, linux/arm/v7, linux/arm/v6, linux/ppc64le

WIP
  Dockerfile
Due: linux/amd64, linux/386, linux/arm64, linux/arm/v7, linux/arm/v6, linux/ppc64le

fix: don't check if iptables rules were dropped successfully
  rootfs/etc/services.d/qbittorrent/run
Due: linux/amd64, linux/386, linux/arm64, linux/arm/v7, linux/arm/v6, linux/ppc64le

ci: run build scripts in same shell
  .gitlab-ci.yml
Due: linux/amd64, linux/386, linux/arm64, linux/arm/v7, linux/arm/v6, linux/ppc64le, dockerhub-readme, pages

feat: install dependencies then build
  Dockerfile
Due: linux/amd64, linux/386, linux/arm64, linux/arm/v7, linux/arm/v6, linux/ppc64le

ci: logout before logging into dockerhub
  build/prepare_builder.sh
Due: linux/amd64, linux/386, linux/arm64, linux/arm/v7, linux/arm/v6, linux/ppc64le

docs: added labels to docker image
  Dockerfile
  build/build.sh
Due: linux/amd64, linux/386, linux/arm64, linux/arm/v7, linux/arm/v6, linux/ppc64le

fix: double quote variables in Dockerfile
  Dockerfile
Due: linux/amd64, linux/386, linux/arm64, linux/arm/v7, linux/arm/v6, linux/ppc64le

docs: added codacy badge
  README.md
Due: dockerhub-readme, pages

ci(codacy): exclude markdown
  .codacy.yml
Due: none

ci: install git before building image
  build/prepare_builder.sh
Due: linux/amd64, linux/386, linux/arm64, linux/arm/v7, linux/arm/v6, linux/ppc64le

docs: updated codacy badge
  README.md
Due: dockerhub-readme, pages

ci: fix build script
  build/build.sh
Due: linux/amd64, linux/386, linux/arm64, linux/arm/v7, linux/arm/v6, linux/ppc64le

fix: double quote build script variables
  build/build.sh
  build/prepare_builder.sh
Due: linux/amd64, linux/386, linux/arm64, linux/arm/v7, linux/arm/v6, linux/ppc64le

fix: pin alpine version
  Dockerfile
Due: linux/amd64, linux/386, linux/arm64, linux/arm/v7, linux/arm/v6, linux/ppc64le

ci: build all branches and more tags to image
  .gitlab-ci.yml
  build/build.sh
Due: linux/amd64, linux/386, linux/arm64, linux/arm/v7, linux/arm/v6, linux/ppc64le, dockerhub-readme, pages

ci: fixed docker tags declaration
  build/build.sh
Due: linux/amd64, linux/386, linux/arm64, linux/arm/v7, linux/arm/v6, linux/ppc64le

ci: cleanup branch names before using them as image tags
  build/build.sh
Due: linux/amd64, linux/386, linux/arm64, linux/arm/v7, linux/arm/v6, linux/ppc64le

feat: embed massif logger in qbittorrent service
  Dockerfile
  rootfs/etc/services.d/qbittorrent/run
Due: linux/amd64, linux/386, linux/arm64, linux/arm/v7, linux/arm/v6, linux/ppc64le

fix: build qbittorrent in home directory
  Dockerfile
Due: linux/amd64, linux/386, linux/arm64, linux/arm/v7, linux/arm/v6, linux/ppc64le

fix: check if iptables rules are present before dropping them
  rootfs/etc/services.d/qbittorrent/run
Due: linux/amd64, linux/386, linux/arm64, linux/arm/v7, linux/arm/v6, linux/ppc64le

fix: setting permissions on qBIttorrent config directory
  rootfs/etc/cont-init.d/01-setup-permissions
  rootfs/etc/services.d/qbittorrent/run
Due: linux/amd64, linux/386, linux/arm64, linux/arm/v7, linux/arm/v6, linux/ppc64le

fix: double quote variables to prevent word splitting
  build/build.sh
Due: linux/amd64, linux/386, linux/arm64, linux/arm/v7, linux/arm/v6, linux/ppc64le

ci: fossa license scan
  .gitlab-ci.yml
Due: linux/amd64, linux/386, linux/arm64, linux/arm/v7, linux/arm/v6, linux/ppc64le, dockerhub-readme, pages

ci: fix fossa scan
  .gitlab-ci.yml
Due: linux/amd64, linux/386, linux/arm64, linux/arm/v7, linux/arm/v6, linux/ppc64le, dockerhub-readme, pages

ci: pass fossa api key straight into command
  .gitlab-ci.yml
Due: linux/amd64, linux/386, linux/arm64, linux/arm/v7, linux/arm/v6, linux/ppc64le, dockerhub-readme, pages
